@model IEnumerable<ManageAccommodation.ViewModels.PaymentViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

    Pager pager = new Pager();

    int pageNo = 0;

    if (ViewBag.Pager != null)
    {
        pager = ViewBag.Pager;
        pageNo = pager.CurrentPage;
    }
}

<h1>Payments OverView</h1>
<partial name="_pager" model="@pager" />
<p>
    @if (User.IsInRole("KeyUser") || User.IsInRole("Admin"))
    {
     <a asp-action="Create">Register payment</a>
    }
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Student Name:
            </th>
            <th>
                Dorm
            </th>
            <th>
                Room:
            </th>
            <th>
                Date:
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StudentName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DormName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RoomNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                    <div class="btn-group">
                        <a asp-action="Details" asp-route-id="@item.IdPayment" class="btn btn-sm btn-primary ml-1">Details</a>
                    </div>
                    @if (User.IsInRole("KeyUser") || User.IsInRole("Admin")){
                        <div class="btn-group">
                            <a asp-action="Delete" asp-route-id="@item.IdPayment" class="btn btn-sm btn-danger ml-1">Delete</a>
                        </div>
                    }
                    
            </td>
        </tr>
}
    </tbody>
</table>
