@model ManageAccommodation.ViewModels.PaymentViewModel

@{
    ViewData["Title"] = "PaymentDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Payments History</h1>

<div>
    <h4>Overview</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StudentName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StudentName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DormName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DormName)
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RoomNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RoomNo)
        </dd>
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Amount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Amount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Dept)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Dept)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
