@model ManageAccommodation.Models.StudentModel

@{
    ViewData["Title"] = "DeleteStudent";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Delete Student</h1>

<h3>Are you sure you want to delete Student: @Html.DisplayFor(model => model.StudentName)?</h3>
<div>
    <hr />
    <dl class="row">
       @* <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Idstudent)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Idstudent)
        </dd>*@
       @* <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StudentName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StudentName)
        </dd>*@
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Mobile)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Mobile)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            From Room:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RoomNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PaymStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PaymStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Debt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Debt)
        </dd>
    </dl>
    <br />
    <br />
    <form asp-action="Delete">
        <input type="submit" value="Delete" class="btn btn-danger" onclick="return confirm('Delete Confirmation For @Model.StudentName');"/> |
        <a asp-action="Index">Back to Students List</a>
    </form>
</div>
