@model ManageAccommodation.Models.StudentModel

@{
    ViewData["Title"] = "StudentDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Student Details</h1>

<div>
    <br />
    <div>  
        <dl class="row">
        <dt class = "col-sm-2">
            @*@Html.DisplayNameFor(model => model.StudentName)*@
            Student name
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StudentName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Mobile)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Mobile)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            Room No
        </dt>
        <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.RoomNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PaymStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PaymStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Debt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Debt)
        </dd>
    </dl>
    </div>
@*    <div class="col-4">
        <img src="images/user.jpg" alt="" class="">
    </div>*@
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Idstudent }) |
    <a asp-action="Index">Back to Students List</a>
</div>
