@model IEnumerable<ManageAccommodation.Models.RoomModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Rooms Overview</h1>

<p>
    <a asp-action="Create">Create New Room</a>
</p>
<table class="table">
    <thead>
        <tr>
            @*<th>
                @Html.DisplayNameFor(model => model.Idroom)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Capacity)
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.OccupiedNo)*@
                Occupied No
            </th>
            <th>
               @* @Html.DisplayNameFor(model => model.VacanciesNo)*@
               Vacancy No
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.Iddorm)*@
                Dorm Name
            </th>
            <th>
               @* @Html.DisplayNameFor(model => model.PricePerSt)*@
               Price/Student
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            @*<td>
                @Html.DisplayFor(modelItem => item.Idroom)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Capacity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OccupiedNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VacanciesNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DormName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PricePerSt)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {  id=item.Idroom  }) |
                    @Html.ActionLink("Details", "Details", new { id=item.Idroom }) |
                    @Html.ActionLink("Delete", "Delete", new { id=item.Idroom }) @*|
                    @Html.ActionLink("Place Student", "PlaceStudent", new { id=item.Idroom })*@
            </td>
        </tr>
}
    </tbody>
</table>
